*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(184, 223, 239);
    color: #080808;
}

/* Header Section */
#header{
    width: 100%;
    min-height: 100vh;
    background-size: cover; 
    background-position: right;
}
.container{
    padding: 10px 10%;;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #080808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20%;
}
.header-text{
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-img img{
    width: 250px;
    height: 250px;         
    object-fit: cover;     
    border-radius: 50%;    
    margin-top: -20px;
    border: 5px solid #b4b1b1; 
    padding: 5px;               
    background: #fff;           
}

/* About Section */
#about{
    padding: 80px 0;
    color: #080808;
    min-height: fit-content;
    background-color: rgb(140, 193, 214);
}
#about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.about-col-1{
    flex-basis: 50%;
}
.about-col-2{
    flex-basis: 45%;
}
.sub-title{
    color: #080808;
    font-size: 60px;
    font-weight: 800;
}
.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #080808;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:crimson;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Learning Section */
#learning{
    padding: 40px 0;
}
.learning-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin: 50px 0;
}
.learning-list div{
    background: rgb(140, 193, 214);
    padding: 20px;
    font-size: 13px;
    font-weight:300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}
.learning-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.learning-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.learning-list div a{
    text-decoration: none;
    color: #080808;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.learning-list div:hover{
    background: #9e9e9c;
    transform: translateY(-10px);
}

/* Work Section */
#work{
    margin: 50px 0 ;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: rgba(246, 245, 245, 0.634);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    line-height: 60px;
    background: #080808;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display:block;
    margin: 50px auto;
    padding: 14px 50px;
    width: fit-content;
    border: 1px solid #080808;
    border-radius: 6px;
    text-decoration: none;
    color: #080808;
    transition: 0.5s;
}
.btn:hover{
    background: #080808;
    color: #fff;
}

/* Contact Section */
#contact{
    padding: 80px 0;
}

#contact .row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-bottom: 20px;
    font-size: 18px;
}
.contact-left p i{
    color: #080808;
    margin-right: 15px;
    font-size: 22px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    color: #080808;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.4s;
}
.social-icons a:hover{
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    color: #080808;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 6px;
    text-decoration: none;
}
.btn.btn2:hover{
    background: #080808;
    color: #fff;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    padding: 15px;
    background: #fff;
    outline: none;
    margin: 15px 0;
    border: 0;
    color: #080808;
    border-radius: 6px;
    font-size: 18px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
    border: none;
}

.copyright{
    width: 100%;
    text-align: center;
    color: #080808;
    font-weight: 300;

}

